version: '3.8'

services:
  jaeger:
    image: jaegertracing/all-in-one:1.57
    ports:
      - "16686:16686"   
      - "14268:14268"   
      - "14250:14250"   
    networks:
      - telemetry-net

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.101.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./open telemtry/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"    
      - "4318:4318"     
      - "8889:8889"     
    depends_on:
      - jaeger
      - prometheus
      - loki
    networks:
      - telemetry-net

  prometheus:
    image: prom/prometheus:v2.52.0
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      - telemetry-net

  loki:
    image: grafana/loki:2.9.4
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml
    networks:
      - telemetry-net

networks:
  telemetry-net:
    driver: bridge
